.mother-container{
    display: flex;
    gap: 20px;
    margin: 1rem;
    
}
.left{
    width: 140px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 30px 5px;
    border: 1px solid gray;
    border-radius: 0px 30px 30px 0px;
    
}
.tv-wrapper{
    display: flex;
    gap: 12px;
    margin-top: 15px;
    margin-left: 15px;
    font-weight: 500;
    color: gray;
}
.tv-m-wrapper{
   
    display: flex;
    gap: 12px;
    margin-top: 15px;
    background-color: rgba(239, 190, 203, 0.717);
    color: brown;
    padding: 14px;
}
.tv-card{
    width: 80px;
    height: 120px;
    background-color: rgb(244, 239, 240);
    border: 1px solid palevioletred;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    margin-left: 15px;
    border-radius: 10px;
}
.tv-card>span{
    font-size: 11px;
    font-weight: 600;
}
.tv-card>small{
    font-size: 9px;
}
.tv-t{
    background: rgba(239, 190, 203, 0.717);
    height: 20px;
    width: 70px;
    border-radius: 10px;
    font-size: 8px;
    text-align: center;
    padding: 5px;
}


.right{
    flex: 4;
}

.sides-wrapper{
    display: flex;
   gap: 10px;
}

.l-side{
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.action{
    display: flex;
    gap: 10px;
}
.action>button{
    border:1px solid palevioletred;
    color: red;
    background: transparent;
    padding: 5px 10px;
    border-radius: 10px;
}

.r-side{
    width: 280px;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.rating{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.side-btn{
    display: flex;
    
}
.sm-t{
    color: red;
}
.side-btn>button{
    background:rgba(171, 7, 7, 0.958);
    color: white;
    border-radius: 12px;
    padding: 7px 12px;
    border: none;
}
.side-btn>input{
   border:1px solid gray;
   border-radius: 5px;
   padding: 7px 40px;
   color: black;
}
.r-side-btn{
    background:rgba(171, 7, 7, 0.958);
    color: white;
    border-radius: 12px;
    padding: 12px 18px;
    border: none;
}
.r-side-btn1{
    background: rgba(239, 190, 203, 0.717);
    color: black;
    border-radius: 12px;
    padding: 12px 18px;
    border: none;
    
}


@media screen and (max-width: 600px){
    .mother-container{
     width: 100%;
     max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.left{
    display: none;
}
.right>img{
    width: 100%;
    max-width: 100%;
}
.sides-wrapper{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.side-btn{
    margin-top: 10px;
}
.side-btn>button{
    padding: 4px 9px;
  
}
.side-btn>input{
    border:1px solid gray;
    border-radius: 5px;
    padding: 7px 25px;
    color: black;
 }
 .r-side{
    width: 350px;
    height: 180px;
    display: flex;
    flex-direction: column;
    gap: 8px;
 }

}
